

.prop-wrapper {
    padding-left: 12px;
    cursor: default;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 14px;
}
.prop-header {
    position: relative;
}
.prop-separator {
    margin-right: 5px;
}
.prop-name {
    color: #b863bf;
}
.prop-value.prop-type-string {
    color: #C41A16;
}
.prop-value.prop-type-string::before {
    content: '"';
}
.prop-value.prop-type-string::after {
    content: '"';
}
.prop-value.prop-type-bigint,
.prop-value.prop-type-number {
    color: #1C00CF;
}
.prop-expand {
    position: absolute;
    border: 4px solid transparent;
    border-top: 6px solid #727272;
    height: 0;
    width: 0;
    left: -12px;
    top: 4px;
    transform: rotate(-90deg);
}
.prop-expanded > * > .prop-expand {
    transform: rotate(0);
    left: -15px;
    top: 8px;
}